.head {
    text-align: center;
    font-size: 25px;
    padding: 12px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    left: 40%;
    right: 50%;
    top: 16px;
}